// agrego los estilos para el header
header {
    background-color: $primary-color;
  
    .navbar {
      &-brand {
        color: $light-color;
      }
  
      &-nav {
        .nav-link {
          color: $light-color;
          &:hover {
            color: $secondary-color;
          }
          &.active {
            color: $secondary-color;
            background-color: $light-color;
          }
        }
      }
    }
  }