$primary: #1b91f9;
$danger: #ff4136;
$primary-color: #000;
$secondary-color: #0010;
$light-color: hsl(187, 95%, 54%);


// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

// $theme-colors: (
//   "primary": $primary,
//   "danger": $danger
// );